<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cooption.userservice.mapper.UserMapper">

	
	<resultMap id="UserBaseInfo" type="com.cooption.userservice.vo.UserVO">
	    <result property="userSeq" column="USER_SEQ" jdbcType="VARCHAR" />
	    <result property="userId" column="USER_ID" jdbcType="VARCHAR" />
	    <result property="userPwd" column="USER_PWD" jdbcType="VARCHAR" />
	    <result property="userName" column="USER_NAME" jdbcType="VARCHAR" />
	    <result property="userMail" column="USER_MAIL" jdbcType="VARCHAR" />
	    <result property="deleteYn" column="DELETE_YN" jdbcType="VARCHAR" />
	    <result property="regDt" column="REG_DT" jdbcType="DATE" />
	    <result property="regId" column="REG_ID" jdbcType="VARCHAR" />
	    <result property="updDt" column="UPD_DT" jdbcType="DATE" />
	    <result property="updId" column="UPD_ID" jdbcType="VARCHAR" />
	</resultMap>


	<insert id="createUser" parameterType="com.cooption.userservice.vo.UserVO">
	    <!-- `USER_SEQ` 값을 생성 -->
	    <selectKey keyProperty="userSeq" resultType="String" order="BEFORE">
	        SELECT COALESCE(MAX(USER_SEQ), 0) + 1 AS userSeq 
	        FROM co_option.USER_MST
	    </selectKey>
	
	    <!-- INSERT 문 -->
	    INSERT INTO co_option.USER_MST
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	        <if test="userSeq != null">USER_SEQ,</if>
	        <if test="userId != null">USER_ID,</if>
	        <if test="userPwd != null">USER_PWD,</if>
	        <if test="userName != null">USER_NAME,</if>
	        <if test="userMail != null">USER_MAIL,</if>
	        DELETE_YN,
	        REG_DT,
	        <if test="regId != null">REG_ID,</if>
	        UPD_DT,
	        <if test="updId != null">UPD_ID,</if>
	    </trim>
	
	    <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
	        <if test="userSeq != null">#{userSeq},</if>
	        <if test="userId != null">#{userId},</if>
	        <if test="userPwd != null">#{userPwd},</if>
	        <if test="userName != null">#{userName},</if>
	        <if test="userMail != null">#{userMail},</if>
	        'N',
	        NOW(),
	        <if test="regId != null">#{regId},</if>
	        NOW(),
	        <if test="updId != null">#{updId},</if>
	    </trim>
	</insert>

	<select id="selectUserList" parameterType="com.cooption.userservice.vo.UserVO" resultMap="UserBaseInfo">
	
		SELECT USER_SEQ, USER_ID, USER_PWD, USER_NAME, USER_MAIL, DELETE_YN, REG_DT, REG_ID, UPD_DT, UPD_ID	
		FROM co_option.USER_MST
		
	</select>

	
<!-- 


		<typeAlias alias="UserBaseInfo" type="com.cooption.userservice.vo.UserVO"/>

	 -->
</mapper>