<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cooption.requestService.mapper.RequestMapper">

	
	<resultMap id="requestBaseInfo" type="com.cooption.requestService.vo.RequestVO">
        <result property="requestSeq" column="REQUEST_SEQ" jdbcType="INTEGER" />
        <result property="requestNm" column="REQUEST_NM" jdbcType="VARCHAR" />
        <result property="requestDesc" column="REQUEST_DESC" jdbcType="VARCHAR" />
        <result property="completeYn" column="COMPLETE_YN" jdbcType="VARCHAR" />
		<result property="requestType" column="REQUEST_TYPE" jdbcType="VARCHAR" />
        <result property="deleteYn" column="DELETE_YN" jdbcType="VARCHAR" />
        <result property="regDt" column="REG_DT" jdbcType="DATE" />
        <result property="regId" column="REG_ID" jdbcType="VARCHAR" />
        <result property="updDt" column="UPD_DT" jdbcType="DATE" />
        <result property="updId" column="UPD_ID" jdbcType="VARCHAR" />
    </resultMap>


	<!-- useGeneratedKeys="true" keyProperty="requestSeq" => requestSEQ리턴값으로 설정 -->
	<insert id="insertRequest" parameterType="com.cooption.requestService.vo.RequestVO" useGeneratedKeys="true" keyProperty="requestSeq">
	    <!-- `USER_SEQ` 값을 생성 -->
	    <selectKey keyProperty="requestSeq" resultType="Integer" order="BEFORE">
	        SELECT COALESCE(MAX(EVENT_SEQ), 0) + 1 AS requestSeq
	        FROM co_option.EVENT_MST
	    </selectKey>
	
	    <!-- INSERT 문 -->
	    INSERT INTO co_option.request_MST
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	        <if test="requestSeq != null">REQUEST_SEQ,</if>
			<if test="eventSeq != null">EVENT_SEQ,</if>
	        <if test="requestNm != null">REQUEST_NM,</if>
	        <if test="requestDesc != null">REQUEST_DESC,</if>
			<if test="requestType != null">REQUEST_TYPE,</if>
	        COMPLETE_YN,
	        DELETE_YN,
	        REG_DT,
	        <if test="regId != null">REG_ID,</if>
	        UPD_DT,
	        <if test="updId != null">UPD_ID,</if>
	    </trim>
	
	    <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
	        <if test="eventSeq != null">#{eventSeq},</if>
			<if test="eventSeq != null">#{eventSeq},</if>
	        <if test="eventNm != null">#{eventNm},</if>
	        <if test="eventDesc != null">#{eventDesc},</if>
			<if test="requestType != null">#{requestType},</if>
	        'N',
	        'N',
	        NOW(),
	        <if test="regId != null">#{regId},</if>
	        NOW(),
	        <if test="updId != null">#{updId},</if>
	    </trim>
	</insert>

<!--	<insert id="insertEventUserRel" parameterType="com.cooption.requestService.vo.RequestVO">
		INSERT INTO co_option.event_user_rel (EVENT_SEQ,USER_SEQ) VALUES(#{eventSeq},#{userSeq})
	</insert>-->

	<update id="modifyRequest" parameterType="com.cooption.requestService.vo.RequestVO">
		UPDATE co_option.request_MST
		<set>
			<if test="requestNm != null">REQUEST_NM = #{requestNm},</if>
			<if test="requestDesc != null">REQUEST_DESC = #{requestDesc},</if>
			<if test="requestType != null">REQUEST_TYPE = #{requestType},</if>
			<if test="completeYn != null">COMPLETE_YN = #{completeYn},</if>
			<if test="deleteYn != null">DELETE_YN = #{deleteYn},</if>
			UPD_DT = NOW(),
			<if test="updId != null">UPD_ID = #{updId},</if>
		</set>
		WHERE REQUEST_SEQ = #{requestSeq}
	</update>

	<insert id="insertTaskRequestRel" parameterType="com.cooption.requestService.vo.RequestVO" useGeneratedKeys="true">
		INSERT INTO co_option.TASK_REQUEST_REL
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="requestSeq != null">REQUEST_SEQ,</if>
			<if test="taskSeq != null">TASK_SEQ,</if>
		</trim>

		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
			<if test="requestSeq != null">#{requestSeq},</if>
			<if test="taskSeq != null">#{taskSeq},</if>
		</trim>
	</insert>

	<insert id="insertUserRequestRel" parameterType="com.cooption.requestService.vo.RequestVO" useGeneratedKeys="true">
		INSERT INTO co_option.REQUEST_USER_REL
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="requestSeq != null">REQUEST_SEQ,</if>
			<if test="userSeq != null">USER_SEQ,</if>
			<if test="userAppYn != null">USER_APP_YN,</if>
		</trim>

		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
			<if test="requestSeq != null">#{requestSeq},</if>
			<if test="userSeq != null">#{userSeq},</if>
			<if test="userAppYn != null">#{userAppYn},</if>
		</trim>
	</insert>
</mapper>