<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cooption.taskService.mapper.TaskMapper">

	
	<resultMap id="TaskBaseInfo" type="com.cooption.taskService.vo.TaskVO">
        <result property="taskSeq" column="TASK_SEQ" jdbcType="INTEGER" />
		<result property="eventSeq" column="EVENT_SEQ" jdbcType="INTEGER" />
        <result property="taskNm" column="TASK_NM" jdbcType="VARCHAR" />
        <result property="taskDesc" column="TASK_DESC" jdbcType="VARCHAR" />
        <result property="taskDate" column="TASK_DATE" jdbcType="DATE" />
        <result property="completeYn" column="COMPLETE_YN" jdbcType="VARCHAR" />
		<result property="taskType" column="TASK_TYPE" jdbcType="VARCHAR" />
        <result property="approvedYn" column="APPROVED_YN" jdbcType="VARCHAR" />
        <result property="deleteYn" column="DELETE_YN" jdbcType="VARCHAR" />
        <result property="regDt" column="REG_DT" jdbcType="DATE" />
        <result property="regId" column="REG_ID" jdbcType="VARCHAR" />
        <result property="updDt" column="UPD_DT" jdbcType="DATE" />
        <result property="updId" column="UPD_ID" jdbcType="VARCHAR" />
    </resultMap>


	<!-- useGeneratedKeys="true" keyProperty="taskSeq" => taskSEQ리턴값으로 설정 -->
	<insert id="insertTask" parameterType="com.cooption.taskService.vo.TaskVO" useGeneratedKeys="true" keyProperty="eventSeq">
	    <!-- `USER_SEQ` 값을 생성 -->
	    <selectKey keyProperty="taskSeq" resultType="Integer" order="BEFORE">
	        SELECT COALESCE(MAX(TASK_SEQ), 0) + 1 AS taskSeq 
	        FROM co_option.TASK_MST
	    </selectKey>
	
	    <!-- INSERT 문 -->
	    INSERT INTO co_option.TASK_MST
	    <trim prefix="(" suffix=")" suffixOverrides=",">
	        <if test="taskSeq != null">TASK_SEQ,</if>
			<if test="eventSeq != null">EVENT_SEQ,</if>
	        <if test="taskNm != null">TASK_NM,</if>
	        <if test="taskDesc != null">TASK_DESC,</if>
	        TASK_DATE,
			<if test="taskType != null">TASK_TYPE,</if>
	        COMPLETE_YN,
	        APPROVED_YN,
	        DELETE_YN,
	        REG_DT,
	        <if test="regId != null">REG_ID,</if>
	        UPD_DT,
	        <if test="updId != null">UPD_ID,</if>
	    </trim>
	
	    <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
	        <if test="taskSeq != null">#{taskSeq},</if>
			<if test="eventSeq != null">#{eventSeq},</if>
	        <if test="taskNm != null">#{taskNm},</if>
	        <if test="taskDesc != null">#{taskDesc},</if>
	        NOW(),
			<if test="taskType != null">#{taskType},</if>
	        'N',
	        'N',
	        'N',
	        NOW(),
	        <if test="regId != null">#{regId},</if>
	        NOW(),
	        <if test="updId != null">#{updId},</if>
	    </trim>
	</insert>


	<update id="modifyTask" parameterType="com.cooption.taskService.vo.TaskVO">
		UPDATE co_option.TASK_MST
		<set>
			<if test="taskNm != null">TASK_NM = #{taskNm},</if>
			<if test="taskType != null">TASK_TYPE = #{taskType},</if>
			<if test="completeYn != null">COMPLETE_YN = #{completeYn},</if>
			<if test="approvedYn!= null">APPROVED_YN = #{approvedYn},</if>
			<if test="deleteYn != null">DELETE_YN = #{deleteYn},</if>
			UPD_DT = NOW(),
			<if test="updId != null">UPD_ID = #{updId},</if>
		</set>
		WHERE TASK_SEQ = #{taskSeq}
	</update>

	<select id="selectTaskList" parameterType="com.cooption.taskService.vo.TaskVO" resultMap="TaskBaseInfo">
		SELECT TASK_SEQ, EVENT_SEQ, TASK_NM, TASK_DESC, TASK_DATE, COMPLETE_YN, TASK_TYPE, APPROVED_YN, DELETE_YN, REG_DT, REG_ID, UPD_DT, UPD_ID
		FROM co_option.task_mst
		WHERE
			EVENT_SEQ = #{eventSeq}
	</select>

</mapper>